* {
    box-sizing: border-box;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }

  body {
    font-family: "Courier New"; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color:black;
  }


  main::after {
      content: '';
      display: block;
      height: 40px;
  }

  footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #98fb98;
  }


  a {
      padding: 2%;
  }

  .link {
      background-color: #89c4f4;
      padding: 0%;
      padding-left: 1%;
      padding-right: 1%;
  }

  .links {
      width: 100%;
      background-color: #89c4f4
  }

  a:link, a:visited {
    text-decoration: none;
    color: #98fb98;
  }

    a:hover, a:active {
    background-color:#444;
  }


  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
  }
  
  .initials {
    color: #89c4f4;
  }

  .hidden {
    display: none; 
}

  button {
      background-color: #98fb98
  }
  
  header {
    padding-top: 12%;
    padding-bottom: 2%;
  }

  section {
      height: 100vh;
  }
  
  h2, h3 {
      margin: 0;
  }

  .bioSection {
    margin-bottom: 30%;
  }

  .contactSection {
      padding-top: 6%;
  }

  #contact, #projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .selfie, .projectScreen {
      max-width: 375px;
      width: 100%;
  }

  .projectScreen {
      padding-top: 2%;
  }

  .icon-bar {
      margin-top: 4px;
      display:block;
      width: 22px;
      height: 2px;
      background-color: #89c4f4;
  }

  .hamburgerMenu {
      position: absolute;
      right: 25px;
      padding-bottom: 1%;
      border-width: 1px;
      border-radius: 2px;
      border-color: #89c4f4
  }


  @media screen and (min-width: 760px) {
    .bioBox {
    display: flex;
    }

    main::after {
        height: 0px;
    }
    .bioSection {
        padding-top: 12%;
        padding-left: 15px;
        padding-right: 25px;
    }

    header {
        padding-top: 12%;
        min-width: 50%;
    }

    h2 {
        margin: 30px;
    }

    .projectScreen {
        width: 90%;
        max-width: 1024px;
    }

    main {
        padding-bottom: 75px;
    }

    .hamburgerMenu {
        display: none;
    }

    .initials {
        position: absolute;
        left: 20px;
    }

    .hidden {
        display: block; 
    }

}


@media screen and (min-width: 1025px) {
    .selfie {
        max-width: 520px;
    }

    .bioSection > p {
        padding-top: 10%;
        padding-right: 50px;
    }

    .projectScreen {
        padding-bottom: 2%;
    }

    main {
        padding-bottom: 100px;
    }
    .projectScreen {
        width: 90%;
        max-width: 2048px;
    }
    
    .quizDescription {
        padding-left: 8%;
        padding-right: 8%;
    }

}